body {
  background-color: lightgray;
  padding: 20px;
}
.lives {
  height: 20px;
  width: 100px;
  background: rgb(50, 255, 0);
  position: absolute;
  top: -40px;
  right: 0px;
}
.board {
  background: pink;
  width: 1000px;
  height: 500px;
  position: relative;
}

.player {
  background: rgb(50, 255, 0);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
}

.obstacle {
  background: rgba(0, 0, 0, 0.623);
  position: absolute;
  left: 0;
  top: 0;
  height: 300px;
  width: 20px;
}
